.contactPage {
  padding-bottom: 80px;
  max-width: 1600px;
  margin: 0 auto;
  @include mq(768px) {
    padding-bottom: 60px;
  }
  @include mq(576px) {
    padding-bottom: 40px;
  }
  &__hero {
    background: var(--bosch-white) url(../img/contact_hero.jpg) no-repeat
      center/cover;
    aspect-ratio: 3/1;
    &.--complete {
      background-image: url(../img/complete_hero.jpg);
    }
    &.--sections {
      background-image: url(../img/sections_hero.jpg);
    }
  }
  &__text {
    --gridGap: var(--gu5) var(--gu4);
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: var(--gridGap);
  }
  &__info {
    background-color: var(--bosch-white);
    grid-column: 1/9;
    padding: var(--gu2) var(--gu3);
    margin-top: -115px;
    @include mq(1193px) {
      margin-top: 0;
      grid-column: 1/13;
      padding: var(--gu3) 0;
    }
    h1 {
      margin-bottom: var(--gu2);
      @include mq-min() {
        font-size: 64px;
        line-height: 1.156;
        margin: 0 0 var(--gu3) 0;
      }
      &.--sections{
        margin-bottom: 0;
      }
    }
    h5 {
      font-size: 24px;
      line-height: 1.417;
      font-weight: 600;
      @include mq(768px) {
        font-size: 24px;
        line-height: 1.417;
      }
      @include mq(576px) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
}
.contactPage_form {
  background-color: var(--bosch-gray-95);
  padding: 80px 0;
  margin-bottom: 60px;
  form {
    & * {
      box-sizing: border-box;
    }
    max-width: 745px;
    margin: 0 auto;
    p {
      margin-bottom: 1rem;
    }
  }
}
